#message-block {
    border-radius: 5px;
    border: 1px solid;
    min-height: 300px;
    max-height: 700px;
    overflow: auto;
    margin-top: 10px;
}

.message {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-message {
    background-color: #F5F5F5;
}

.senders-message {
    text-align: right;
    padding-right: 10px;
}

#input-block {
    margin-top: 7px;
}

#send-button {
    width: 100%
}

#text-area {
    width: 100%
}

.text {
    word-wrap: break-word;
}