{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/includes/header.css' %}">
{% endblock css %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/"><img class="navbar-brand" src="{% static 'img/heart.png' %}" height="45px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Dating</a>
        </li>
      </ul>

      {% if user.is_authenticated %}
        {% include 'forms/search.html' %}
        <div class="right_header_content">
            <a href="/chats" class="btn btn-primary">chats</a>
        </div>
        <div class="right_header_content">
            <a href="/profile/{{ user.id }}">Hi, {{ user.username }}</a>
        </div>
          <a href="/signout/" class="btn btn-outline-secondary header_buttons">Signout</a>
      {% else %}
          <a href="/signup/" class="btn btn-outline-success header_buttons">Signup</a>
      {% endif %}
    </div>
  </div>
</nav>

