{% load static %}

<link rel="stylesheet" href="{% static 'css/includes/interests.css' %}">
{% if interests %}
    <h1>Interests</h1>
    <div class="row">
        {% for interest in interests %}
            <div class="interest col-sm-2">{{ interest }}</div>
        {% endfor %}
    </div>
{% endif %}
