<!--show alert with message if something went wrong-->
{% if messages %}
        <ul class="messages" style="padding-inline-start: 0px">
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
    <!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
            {% endfor %}
        </ul>
{% endif %}