{% load thumbnail %}

{% load static %}

<div class="card" style="width: 18rem;">
  {% if user.avatar %}
      {% thumbnail user.avatar "308x231" crop="center" as im %}
          <img src="{{ im.url }}" class="card-img-top" width="{{ im.width }}"  height="{{ im.height }}" alt="{{ user.username }}">
      {% endthumbnail %}
  {% else %}
      <img src="{% static 'img/no_avatar.jpg' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <a href="/profile/{{ user.id }}" class="btn btn-primary">profile</a>
  </div>
</div>