{% load static %}

<!--    search form-->
<form class="d-flex" method="get" action="/search">
  <input class="form-control me-2" type="search" id="search-input-nav" placeholder="Search by username or interest" aria-label="Search" name="q">
  <button id="search-button" class="btn btn-outline-success" type="submit" style="margin-right: 7px">Search</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{% static 'js/forms/search.js' %}"></script>