{% load django_bootstrap5 %}

<div>
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Signin</button>
    </form>
</div>
