/* adds indention for the profile reference link */
.right_header_content {
    padding-right: 20px
}


/* adds indention for signin, signup and sign-out buttons */
.header_buttons {
    margin-right: 20px
}