{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <h1>Write a complaint about {{ accused }}</h1>
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">send</button>
    </form>
{% endblock content %}
