{% extends 'base.html' %}

{% block content %}
    {% include 'includes/notification_messages.html' %}

    {% if not user.is_authenticated %}
            {% include 'forms/signin.html' %}
    {% endif %}
    <p><h1>{{ users_title }}</h1></p>
    {% include 'includes/users_list.html' %}
{% endblock content %}

