{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>Recent chats</h2>
    {% if chats %}
            {% include 'includes/remove_chat_modal.html' %}
            <div class="row">
                {% for  chat in chats %}
                   <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">
                                {{ chat.partner.username }}
                            </h5>
                            <p class="card-text">{{ chat.last_message.text }}</p>
                              <span><a href="/messages/{{ chat.partner.id }}/" class="list-group-item list-group-item-action">open</a></span>
                              <span><a href="#" class="delete-button" data-chat-id="{{ chat.chat.id }}" data-chat-partner="{{ chat.partner.username }}" data-bs-toggle="modal" data-bs-target="#exampleModal">remove chat</a></span>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>


    {% endif %}

{% endblock content %}

{% block js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'js/chats.js' %}"></script>
{% endblock js %}