{% extends 'base.html' %}

{% load static %}
{% load core_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock css %}

{% block content %}
    <h1>Chat with <a href="/profile/{{ other_user.id}}">{{ other_user.username }}</a></h1>
    <input id="current-user-id" type="hidden" value="{{ user.id }}">
    <input id="other-user-id" type="hidden" value="{{ other_user.id }}">

    <div id="message-block">
        {% if messages %}
            {% for message in messages %}
                {% if message.sender.id == user.id %}
                    <div class="message my-message">
                        <b>me:</b> {{ message.created_at|to_strftime }}
                        <div class="text"> {{ message.text }}</div>
                    </div>
                {% else %}
                    <div class="message senders-message">
                        <b>{{ message.sender }}:</b> {{ message.created_at|to_strftime }}
                        <div class="text"> {{ message.text }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="input-block" class="row">
        <div class="col-sm-9"><textarea id="text-area"></textarea></div>
        <div class="col-sm-3">
            <button class="btn btn-primary" id="send-button">Send</button>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script src="{% static 'js/message.js' %}"></script>
{% endblock js %}