{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block content %}
     {% if photos %}
        <h1>Please select photo(s) to remove and click 'remove'</h1>
        <h3>You have {{photos.count }} photos:</h3>
        <div class="row">
            {% for photo in photos %}
                    <div class="col-md-2" style="padding: 20px">
                        {% thumbnail photo.image "130x130" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{im.height}}" data-id="{{ photo.id}}">
                        {% endthumbnail %}
                    </div>
            {% endfor %}
        </div>

<!--form that sends ids of photos to remove them-->
        <div style="margin: 10px">
            <form method="post"> {% csrf_token %}
                <input type="hidden" name="photo_ids" value="" id="photo_ids">
                <button class="btn btn-danger" id="remove_btn">remove</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/photos.js' %}"></script>
{% endblock js %}


