{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock content %}
