{% extends 'base.html' %}
{% load thumbnail %}
{% load core_tags %}

{% block content %}
    <h1>{{ object.username }}</h1>
    <!--avatar picture-->
    {% if object.avatar %}
        {% thumbnail object.avatar "200" as image %}
            <img src="{{ image.url }}">
        {% endthumbnail %}
    {% endif %}
    <!--profile info-->
    <table class="table">
                <tr>
                    <td>First name</td>
                    <td>{{ object.first_name|default:'No' }}</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>{{ object.last_name|default:'No' }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ object.email|default:'No' }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ object.gender|default:'No' }}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{ object.age|default:'No' }}</td>
                </tr>
                <tr>
                    <td>Searching Gender</td>
                    <td>{{ object.searching_gender|default:'No' }}</td>
                </tr>
    </table>
    <div class="row">
        {% if user.id == id %}
            <div class="col-md-2"><a href="/profile/{{ object.id }}/edit" class="btn btn-success">Edit profile</a></div>
            <!--button to toggle visibility of uploading photo area-->
            <div class="col-md-2"><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
           aria-expanded="false" aria-controls="collapseExample">upload photo</button></div>
            {% if user|has_photos %}
                <div class="col-md-2"><a href="/profile/remove_photos" class="btn btn-link">remove photo(s)</a></div>
            {% endif %}
        {% else %}
            <div class="col-md-2"><a  class="btn btn-secondary" href="/messages/{{object.id}}/">write message</a></div>

            <div class="col-md-2"><a href="/profile/{{ object.id }}/complain" class="btn btn-outline-secondary">complain</a></div>
        {% endif %}
    </div>
        <!-- uploading photo area-->

    <div class="collapse" id="collapseExample" style="margin: 10px">
              <div class="card card-body">
    <!--                form to upload photo -->
                    <form method="post" action="/photo/add" enctype="multipart/form-data" style="padding: 20px"> {% csrf_token %}
                      <label for="img">Select image:</label>
                      <input type="file" id="img" name="img" accept="image/*">
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <input type="submit" class="btn btn-secondary">
                    </form>
              </div>
            </div>
    <h2>{{ error }}</h2>


    <!--    show all profile photos -->
    <div class="row">
        {% if photos %}
            <h3>You have {{photos.count }} photos:</h3>
            {% for photo in photos %}
                    <div class="col-md-3" style="padding: 20px">
                        {% thumbnail photo.image "300x300" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{im.height}}">
                    {% endthumbnail %}
                    </div>
            {% endfor %}
        {% endif %}
    </div>

<!-- show all interests -->
{% include 'includes/interests.html' %}

{% endblock content %}
