{% extends 'base.html' %}

{% block content %}
    <h1>results</h1>
    {% if users %}
        {% include 'includes/users_list.html' %}
    {% else %}
        <p>nothing found:(</p>
    {% endif %}
{% endblock content %}