{% extends 'base.html' %}
{% load django_bootstrap5 %}

{%  block content %}
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
{% endblock content %}